Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -llvm*,
  -bugprone-reserved-identifier,
  -modernize-use-trailing-return-type,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner"
WarningsAsErrors: ''
HeaderFilterRegex: '.*graphski[/\\](include|src)[/\\].*\.(h|hpp)'
FormatStyle: none
SystemHeaders: false
ExtraArgs: ["-std=c++20"]